{% extends 'index.html' %}

{% block content %}
<div class="container-fluid">
    <h3 class="mt-4">Add Product</h3>
    <div class="row">
        <div class="col">
            <div class="card mb-4">
                <div class="card-header">
                    <a class="btn btn-sm btn-secondary" href="{% url 'product-List' %}">
                        <i class="fas fa-angle-left me-1"></i>
                        Back
                    </a>    
                </div>
                <div class="card-body">
                    <form action="{% url 'add-product' %}" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                <label>{{field.label}}</label>
                                {{field}}
                            </div>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary mt-3" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
 
{% endblock %}