{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid">
        <h3 class="mt-4">Products</h3>
        <!-- <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Products</li>
        </ol> -->
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <span>
                            <i class="fas fa-box me-1"></i>
                                Products List
                        </span>    
                       <a class="btn btn-sm btn-primary" href="{% url 'add-product' %}">
                            <i class="fas fa-plus me-1"></i>
                               Add Product</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-responsive-md">
                            <table id="datatablesSimple" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Brand</th>
                                        <th>Stock</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for prd in products %}
                                    <tr>
                                        <td><a href="{% url 'view-product' prd.id %}">{{prd.name}}</a></td>
                                        <td>&#8377; {{prd.price}}</td>
                                        <td>{{prd.brand}}</td>
                                        {% if prd.stock > 0 %}
                                        <td><span class="text-success">{{prd.stock}}</span></td>
                                        {% else %}
                                        <td><span class="text-danger">{{prd.stock}}</span></td>
                                        {% endif %}
                                        <td>
                                            <a href="{% url 'delete-product' prd.id %}"> <i class="fas fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}