{% extends 'index.html' %}

{% block content %}
    <div class="container-fluid">
        <h3 class="mt-4">Customers</h3>
        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <div class="card-header">
                        <span>
                            <i class="fas fa-user-alt me-1"></i>
                                Customers List
                        </span>    
                       <a class="btn btn-sm btn-primary" href="{% url 'add-customer' %}">
                            <i class="fas fa-plus me-1"></i>
                               Add Customer</a>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive table-responsive-md">
                            <table id="datatablesSimple" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone No</th>
                                        <th>Address</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cust in cutomers %}
                                    <tr>
                                        <td><a href="{% url 'view-customer' cust.id %}">{{cust.name}}</a></td>
                                        <td>{{cust.email}}</td>
                                        <td>{{cust.phoneNo}}</td>
                                        <td>{{cust.address}}</td>
                                        <td>
                                            <a class="mr-2" href="{% url 'edit-customer' cust.id %}"> <i class="fas fa-edit text-primary"></i></a>
                                            <a href="{% url 'delete-customer' cust.id %}"> <i class="fas fa-trash text-danger"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                        
                            </table>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}