{% extends 'index.html' %}

{% block content %}
<div class="container">
    <h3 class="mt-4">View Customer</h3>
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="card-header">
                    <a class="btn btn-sm btn-secondary" href="{% url 'product-List' %}">
                        <i class="fas fa-angle-left me-1"></i>
                        Back
                    </a>    
                </div>
                <div class="card-body">
                    <div>
                        <h2>{{customer.name}}</h2>
                        <p>{{customer.email}}</p>
                        <p>{{customer.phoneNo}}</p>
                        <p>{{customer.address}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <h3 class="mt-4">Recent Orders</h3>
        <div class="row">
            <div class="col">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="table-responsive table-responsive-md">
                            <table class="table">
                                <thead  class="thead-dark">
                                    <tr>
                                        <th>Order Id</th>
                                        <th>Name</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th>Address</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td><a href="#">{{order.id}}</a></td>
                                        <td>{{order.product.name}}</a></td>
                                        <td>{{order.product.price}}</td>
                                        <td>{{order.status}}</td>
                                        <td>{{order.customer.address}}</td>
                                        <td>
                                            {% if order.status == 'delivered' %}
                                            <a class="btn btn-sm btn-warning mr-2" href="{% url 'delete-order' order.id %}?ord_status=return">
                                                Return
                                            </a>
                                            {% else %}
                                            <a class="btn btn-sm btn-outline-danger mr-2" href="{% url 'delete-order' order.id %}?ord_status=cancel">
                                                Cancel
                                            </a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}